<div class="section__header">Certifications</div>
<div>
  <ng-container
    *ngFor="
      let certification of formCertifications$ | async;
      trackBy: handleCertificationTrackBy
    "
  >
    <div class="form-group">
      <div
        class="form-group-remove"
        (click)="onCertificationDelete(certification.id)"
        (keyup.enter)="onCertificationDelete(certification.id)"
        tabindex="0"
      >
        <div class="form-group-remove-icon">&times;</div>
      </div>
      <label for="certificationTitle-{{ certification.id }}">Title</label>
      <input
        type="text"
        name="certificationTitle-{{ certification.id }}"
        placeholder="Title"
        [value]="certification.title"
        (input)="onCertificationTitleInput(certification.id, $event)"
      />
      <label for="certificationOrganization-{{ certification.id }}"
        >Organization</label
      >
      <input
        type="text"
        name="certificationOrganization-{{ certification.id }}"
        placeholder="Organization"
        [value]="certification.organization"
        (input)="onCertificationOrganizationInput(certification.id, $event)"
      />
      <label for="certificationYear-{{ certification.id }}">Year</label>
      <input
        type="text"
        name="certificationYear-{{ certification.id }}"
        placeholder="Year"
        [value]="certification.year"
        (input)="onCertificationYearInput(certification.id, $event)"
      />
      <label for="certificationLocation-{{ certification.id }}">Location</label>
      <input
        type="text"
        name="certificationLocation-{{ certification.id }}"
        placeholder="Location"
        [value]="certification.location"
        (input)="onCertificationLocationInput(certification.id, $event)"
      />
    </div>
  </ng-container>
</div>
<button type="button" (click)="onCertificationCreate()">
  + Add Certifiation
</button>
