<!-- Sheet -->
<ng-container *ngIf="layout$ | async as layout">
  <div class="sheet">
    <div [ngClass]="layout.class">
      <ng-container *ngFor="let row of layout.rows">
        <div [class]="row.class">
          <ng-container *ngFor="let column of row.columns">
            <div [class]="column.class">
              <div style="height: auto">
                <ng-container *ngFor="let section of column.sections">
                  <app-section [section]="section"></app-section>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
