<ng-container *ngIf="hasResumeContent$ | async as hasContent; else noContent">
  <ng-container
    *ngFor="
      let page of pages$ | async;
      let pageIndex = index;
      trackBy: handlePageTrackBy
    "
  >
    <div class="page">
      <div class="page__content">
        <ng-container
          *ngFor="
            let section of sections(page.id) | async;
            let i = index;
            trackBy: handleSectionTrackBy
          "
        >
          <app-section [section]="section" />
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #noContent>
  Use the inputs on the left hand side to start building your resume. As you
  enter data, your resume will be put together on the art board.
</ng-template>
