<ng-container
  *ngFor="let section of sections; let i = index; trackBy: handleTrackBy"
>
  <ng-container [ngSwitch]="section.type">
    <ng-container *ngSwitchCase="'NAME_CONTENT'">
      <div
        class="section__name"
        (onResize)="onResize(i, $event)"
        resizeBoxModel="border-box"
      >
        <div class="name">{{ name$ | async }}</div>
        <div class="title">{{ title$ | async }}</div>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault></ng-container>
  </ng-container>
</ng-container>
