<div class="section__header">
  <div class="title">WORK EXPERIENCE</div>
  <div class="divider">
    <div class="divider__line"></div>
  </div>
</div>
<!-- Experiences -->
<ng-container *ngFor="let experience of experiences$ | async">
  <div class="section__experience">
    <div class="header">
      <div class="header__title">{{ experience.title }}</div>
      <div>{{ experience.duration }}</div>
    </div>
    <div class="header">
      <div>{{ experience.organization }}</div>
      <div>{{ experience.location }}</div>
    </div>
    <ul class="description_list">
      <!-- Descriptions -->
      <ng-container *ngFor="let description of experience.descriptions">
        <li class="description_list__item">
          <div class="description_list__item_icon">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="description_list__item_text">
            {{ description }}
          </div>
        </li>
      </ng-container>
    </ul>
    <div class="skill_list">
      <!-- Skills -->
      <ng-container *ngFor="let skill of experience.skills">
        <div class="skill_list__item">
          <div class="skill_list__item_text">{{ skill }}</div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
