<div class="section__header">Experience</div>
<div>
  <ng-container
    *ngFor="
      let experience of formExperiences$ | async;
      let i = index;
      trackBy: handeExperiencesTrackBy
    "
  >
    <div class="form-group">
      <div
        class="form-group-remove"
        (click)="onExperienceDelete(experience.id)"
        (keyup.enter)="onExperienceDelete(experience.id)"
        tabindex="0"
      >
        <div class="form-group-remove-icon">&times;</div>
      </div>
      <label for="experienceTitle-{{ experience.id }}">Title</label>
      <input
        type="text"
        name="experienceTitle-{{ experience.id }}"
        placeholder="Title"
        [value]="experience.title"
        (input)="onExperienceTitleInput(experience.id, $event, i)"
      />
      <label for="experienceOrganization-{{ experience.id }}"
        >Organization</label
      >
      <input
        type="text"
        name="experienceOrganization-{{ experience.id }}"
        placeholder="Organization"
        [value]="experience.organization"
        (input)="onExperienceOrganizationInput(experience.id, $event, i)"
      />
      <label for="experienceDuration-{{ experience.id }}">Duration</label>
      <input
        type="text"
        name="experienceDuration-{{ experience.id }}"
        placeholder="Duration"
        [value]="experience.duration"
        (input)="onExperienceDurationInput(experience.id, $event)"
      />
      <label for="experienceLocation-{{ experience.id }}">Location</label>
      <input
        type="text"
        name="experienceLocation-{{ experience.id }}"
        placeholder="Location"
        [value]="experience.location"
        (input)="onExperienceLocationInput(experience.id, $event)"
      />
      <label for="experienceDescription-{{ experience.id }}">Description</label>
      <textarea
        name="experienceDescription-{{ experience.id }}"
        placeholder="Description"
        [value]="experience.rawDescription"
        (input)="onExperienceDescriptionInput(experience.id, $event)"
      ></textarea>
      <label for="experienceSkills-{{ experience.id }}">Skills</label>
      <input
        type="text"
        name="experienceSkills-{{ experience.id }}"
        placeholder="Skills"
        [value]="experience.rawSkills"
        (input)="onExperienceSkillsInput(experience.id, $event)"
      />
    </div>
  </ng-container>
</div>
<button type="button" (click)="onExperienceCreate()">+ Add Experience</button>
