<div class="section__header">Social</div>
<div>
  <ng-container
    *ngFor="
      let social of formSocials$ | async;
      let i = index;
      trackBy: handleSocialTrackBy
    "
  >
    <div class="form-group">
      <div
        class="form-group-remove"
        (click)="onSocialDelete(social.id)"
        (keyup.enter)="onSocialDelete(social.id)"
        tabindex="0"
      >
        <div class="form-group-remove-icon">&times;</div>
      </div>
      <label for="socialName-{{ social.id }}">Name</label>
      <input
        type="text"
        name="socialName-{{ social.id }}"
        placeholder="Name"
        [value]="social.name"
        (input)="onSocialNameInput(social.id, $event, i)"
      />
      <label for="socialUrl-{{ social.id }}">URL</label>
      <input
        type="text"
        name="socialUrl-{{ social.id }}"
        placeholder="URL"
        [value]="social.url"
        (input)="onSocialUrlInput(social.id, $event, i)"
      />
    </div>
  </ng-container>
  <button type="button" (click)="onSocialCreate()">+ Add Another</button>
</div>
