<!-- Render section with template data available -->
<ng-container *ngIf="section.template">
  <div
    [class]="getContentClass()"
    (onResize)="onResize($event)"
    [innerHtml]="htmlContent$ | async"
  ></div>
</ng-container>
<!-- Render section which does not have template but children which require selectors for nested resume data -->
<ng-container *ngIf="!section.template && section.selectors.length">
  <div [class]="getContentClass()" (onResize)="onResize($event)">
    <ng-container
      *ngFor="
        let contentIndex of contentLength$ | async;
        trackBy: handleTrackBy
      "
    >
      <ng-container
        *ngFor="
          let child of childSections$ | async;
          let i = index;
          trackBy: handleTrackBy
        "
      >
        <app-section
          [section]="child"
          [contentIndex]="contentIndex"
          [position]="i"
          [parentIndex]="index"
          [index]="createIndex(i, contentIndex)"
        />
      </ng-container>
    </ng-container>
  </div>
</ng-container>
<!-- Render section which has children and does not require selectors for nested resume data -->
<ng-container *ngIf="!section.template && !section.selectors.length">
  <div [class]="getContentClass()" (onResize)="onResize($event)">
    <ng-container
      *ngFor="
        let child of childSections$ | async;
        let i = index;
        trackBy: handleTrackBy
      "
    >
      <app-section
        [section]="child"
        [parentIndex]="index"
        [index]="createIndex(i)"
      />
    </ng-container>
  </div>
</ng-container>
