.main {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto';
  color: var(--gray-700);
}

.sidebar {
  border-right: 1px solid black;
  width: 33.33%;
  height: 100%;
  overflow-y: scroll;
}

.content {
  display: flex;
  width: 100%;
  overflow-y: scroll;
}

.pages__container {
  width: 100%;
}

@media screen {
  .content {
    background: #e0e0e0;
  }
}

/* Sidebar */

.input__section {
    padding: 1.75rem 1.5rem;
}

.input__section:not(:last-child) {
    border-bottom: 1px solid var(--gray-700);
}

.input__section input {
    margin-bottom: 0.5rem;
}

.input__section .section__header {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: .75rem;
}

.input__section .section__content {
  padding-bottom: 0.5rem;

  &:not(:first-child) {
    padding-top: 0.5rem;
    border-top: 1px dashed var(--gray-700);
  }
}

.input__section .section__content-remove {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.input__section .section__content-remove-icon {
    padding: 0.2rem;
    cursor: pointer;
}

/* Input Section */

label {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .25rem;
}

/* textarea & input */
textarea,
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]) {
    -webkit-appearance: none; /* sass-lint:disable-line no-vendor-prefixes; */
    background-color: transparent;
    border: 1px solid var(--gray-700);
    border-radius: 0.2rem;
    box-shadow: none;
    box-sizing: inherit; /* Forced to replace inherit values of the normalize.css */
    height: 2rem;
    padding: 0.6rem 0.6rem 0.7rem !important; /* This vertically centers text on FF, ignored by Webkit */
    width: 100%;
}


textarea {
    height: 5rem;
    resize: vertical;
}
