<div class="main">
  <div class="sidebar">
    <!-- Your Details Section -->
    <app-details-input></app-details-input>
    <!-- Contact Details Section -->
    <app-contact-input></app-contact-input>
    <!-- Social Section -->
    <app-socials-input></app-socials-input>
    <!-- Experiences Section -->
    <app-experiences-input></app-experiences-input>
    <!-- Skills Section -->
    <app-skills-input></app-skills-input>
    <!-- Certifications -->
    <app-certifications-input></app-certifications-input>
  </div>
  <div class="content">
    <app-pages class="pages__container"></app-pages>
  </div>
</div>
