
<div class="main">
  <div class="sidebar">
    <!-- Your Details Section -->
    <div class="input__section">
      <div class="section__header">Your Details</div>
      <label>Name</label>
      <input type="text" placeholder="Name" [value]="formName$ | async" (input)="onNameInput($event)"/>
      <label>Title</label>
      <input type="text" placeholder="Title" [value]="formTitle$ | async" (input)="onTitleInput($event)"/>
      <label>Summary</label>
      <textarea placeholder="Summary" [value]="formSummary$ | async" (input)="onSummaryInput($event)"></textarea>
    </div>
    <!-- Contact Details Section -->
    <div class="input__section">
      <div class="section__header">Contact Details</div>
      <label>Phone</label>
      <input type="text" placeholder="Phone" [value]="formPhone$ | async" (input)="onPhoneInput($event)"/>
      <label>Email</label>
      <input type="text" placeholder="Email" [value]="formEmail$ | async" (input)="onEmailInput($event)"/>
      <label>Location</label>
      <input type="text" placeholder="Location" [value]="formLocation$ | async" (input)="onLocationInput($event)"/>
    </div>
    <!-- Social Section -->
    <div class="input__section">
      <div class="section__header">Social</div>
      <div *ngFor="let social of formSocials$ | async; let i = index; trackBy:handleSocialTrackBy">
          <div class="section__content">
            <ng-template [ngIf]="i > 0">
              <div class="section__content-remove" (click)="onSocialDelete(i)">
                <div class="section__content-remove-icon">&times;</div>
              </div>
            </ng-template>
            <label>Name</label>
            <input type="text" placeholder="Name" [value]="social.name" (input)="onSocialNameInput(i, $event)"/>
            <label>URL</label>
            <input type="text" placeholder="URL" [value]="social.url" (input)="onSocialUrlInput(i, $event)"/>
          </div>
      </div>
      <button type="button" (click)="onSocialCreate()">+ Add Another</button>
    </div>
    <!-- Experiences Section -->
    <div class="input__section">
      <div class="section__header">Experience</div>
      <div *ngFor="let experience of formExperiences$ | async; let i = index; trackBy:handleExperienceTrackBy">
        <div class="section__content">
          <ng-template [ngIf]="i > 0">
            <div class="section__content-remove" (click)="onExperienceDelete(i)">
              <div class="section__content-remove-icon">&times;</div>
            </div>
          </ng-template>
          <label>Title</label>
          <input type="text" placeholder="Title" (input)="onExperienceTitleInput(i, $event)" />
          <label>Organization</label>
          <input type="text" placeholder="Organization" (input)="onExperienceOrganizationUpdate(i, $event)" />
          <label>Duration</label>
          <input type="text" placeholder="Duration" (input)="onExperienceDurationUpdate(i, $event)"/>
          <label>Location</label>
          <input type="text" placeholder="Location" />
          <label>Description</label>
          <textarea placeholder="Description"></textarea>
          <label>Skills</label>
          <input type="text" placeholder="Skills" />
        </div>
      </div>
      <button type="button" (click)="onExperienceCreate()">+ Add Experience</button>
    </div>
    <!-- Skills Section -->
    <div class="input__section">
      <div class="section__header">Skills</div>
      <div class="section__content">
        <div class="section__content-remove">
          <div class="section__content-remove-icon">&times;</div>
        </div>
        <label>Name</label>
        <input type="text" placeholder="Name" />
        <label>Proficiency</label>
        <input type="range" placeholder="Proficiency" minx="0" max="5" />
      </div>
      <button>+ Add Skill</button>
    </div>
    <!-- Certifications -->
    <div class="input__section">
      <div class="section__header">Certifications</div>
      <div class="section__content">
        <div class="section__content-remove">
          <div class="section__content-remove-icon">&times;</div>
        </div>
        <label>Title</label>
        <input type="text" placeholder="Title" />
        <label>Organization</label>
        <input type="text" placeholder="Organization" />
        <label>Year</label>
        <input type="text" placeholder="Year" />
        <label>Location</label>
        <input type="text" placeholder="Location" />
      </div>
      <button>+ Add Certifiation</button>
    </div>
  </div>
  <div class="content">
    <!-- Sheet -->
    <div class="sheet">
      <div class="sheet--full-height">
        <!-- Row -->
        <div class="row">
          <!-- Left Column -->
          <div class="column__left">
            <div style="height: auto">
              <!-- Name & Title Section -->
              <div class="section__name">
                <div class="name">{{name$ | async}}</div>
                <div class="title">{{title$ | async}}</div>
              </div>
              <!-- Summary Section -->
              <div class="section__header section__header--summary">
                <div class="title">SUMMARY</div>
                <div class="divider">
                  <div class="divider__container">
                    <div class="divider__line divider__line--white"></div>
                  </div>
                </div>
              </div>
              <div class="section__summary">
                <div class="summary">{{summary$ | async}}</div>
              </div>
              <!-- Contact Section -->
              <div class="section__header section__header--contact">
                <div class="title">CONTACT</div>
                <div class="divider">
                  <div class="divider__line divider__line--white"></div>
                </div>
              </div>
              <div class="section__contact">
                <ul class="list">
                  <li class="list__item">
                    <i class="fa-solid fa-phone list__item_icon"></i>
                    <span class="list__item_text">{{phone$ | async}}</span>
                  </li>
                  <li class="list__item">
                    <i class="fa-solid fa-envelope list__item_icon"></i>
                    <a class="list__item_text list__item_text--email" href="mailto:{{email$ | async}}">{{email$ | async}}</a>
                  </li>
                  <li class="list__item">
                    <i class="fa-solid fa-location-dot list__item_icon"></i>
                    <span class="list__item_text">{{location$ | async}}</span>
                  </li>
                </ul>
              </div>
              <!-- Social Section -->
              <div class="section__header section__header--social">
                <div class="title">SOCIAL</div>
                <div class="divider">
                  <div class="divider__line divider__line--white"></div>
                </div>
              </div>
              <div class="section__social">
                <ul class="list">
                  <li class="list__item" *ngFor="let social of socials$ | async">
                    <div>
                      <i class="{{social.icon}} social__icon"></i>
                      <span class="social__name">{{social.name}}</span>
                    </div>
                    <div>
                      <a class="social__link" href="{{social.url}}">{{social.url}}</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Right -->
          <div class="column__right">
            <div style="height: auto">
              <!-- Experiences -->
              <div class="section__header">
                <div class="title">WORK EXPERIENCE</div>
                <div class="divider">
                  <div class="divider__line"></div>
                </div>
              </div>
              <!-- Experience #1 -->
              <div class="section__experience">
                <div class="header">
                  <div class="header__title">Senior Web Developer</div>
                  <div>Jan 2023 - Present</div>
                </div>
                <div class="header">
                  <div>Company Name Here</div>
                  <div>Remote</div>
                </div>
                <ul class="description_list">
                  <!-- Description #1 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Efficiently unleash cross-media information without cross-media value.</div>
                  </li>
                  <!-- Description #2 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</div>
                  </li>
                  <!-- Description #3 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.</div>
                  </li>
                </ul>
                <div class="skill_list">
                  <!-- Skill #1 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">Photoshop</div>
                  </div>
                  <!-- Skill #2 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">HTML</div>
                  </div>
                  <!-- Skill #3 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">CSS</div>
                  </div>
                  <!-- Skill #4 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">Illustrator</div>
                  </div>
                  <!-- Skill #5 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">PHP</div>
                  </div>
                  <!-- Skill #6 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">JavaScript</div>
                  </div>
                </div>
              </div>
              <!-- Experience #2 -->
              <div class="section__experience">
                <div class="header">
                  <div class="header__title">Senior Web Developer</div>
                  <div>Jan 2022 - Dec 2022</div>
                </div>
                <div class="header">
                  <div>Company Name Here</div>
                  <div>Remote</div>
                </div>
                <ul class="description_list">
                  <!-- Description #1 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Collaboratively administrate empowered markets via plug-and-play networks.</div>
                  </li>
                  <!-- Description #2 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
                  </li>
                  <!-- Description #3 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Completely pursue scalable customer service through sustainable potentialities.</div>
                  </li>
                </ul>
                <div class="skill_list">
                  <!-- Skill #1 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">Photoshop</div>
                  </div>
                  <!-- Skill #2 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">HTML</div>
                  </div>
                  <!-- Skill #3 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">CSS</div>
                  </div>
                  <!-- Skill #4 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">Illustrator</div>
                  </div>
                  <!-- Skill #5 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">PHP</div>
                  </div>
                  <!-- Skill #6 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">JavaScript</div>
                  </div>
                </div>
              </div>
              <!-- Experience #3 -->
              <div class="section__experience">
                <div class="header">
                  <div class="header__title">Senior Web Developer</div>
                  <div>Jan 2021 - Dec 2021</div>
                </div>
                <div class="header">
                  <div>Company Name Here</div>
                  <div>Remote</div>
                </div>
                <ul class="description_list">
                  <!-- Description #1 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce.</div>
                  </li>
                  <!-- Description #2 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Proactively envisioned multimedia based expertise and cross-media growth strategies.</div>
                  </li>
                  <!-- Description #3 -->
                  <li class="description_list__item">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.</div>
                  </li>
                </ul>
                <div class="skill_list">
                  <!-- Skill #1 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">Photoshop</div>
                  </div>
                  <!-- Skill #2 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">HTML</div>
                  </div>
                  <!-- Skill #3 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">CSS</div>
                  </div>
                  <!-- Skill #4 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">Illustrator</div>
                  </div>
                  <!-- Skill #5 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">PHP</div>
                  </div>
                  <!-- Skill #6 -->
                  <div class="skill_list__item">
                    <div class="skill_list__item_text">JavaScript</div>
                  </div>
                </div>
              </div>
              <!-- Skills Section -->
              <div class="section__header section__header--skill">
                <div class="title">PROFESSIONAL SKILLS</div>
                <div class="divider">
                  <div class="divider__line"></div>
                </div>
              </div>
              <div class="section__skill">
                <div class="list">
                  <!-- Skill #1 -->
                  <div class="item">
                    <div>Photoshop</div>
                    <div class="rating">
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block"></div>
                    </div>
                  </div>
                  <!-- Skill #2 -->
                  <div class="item">
                    <div>Illustrator</div>
                    <div class="rating">
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                    </div>
                  </div>
                  <!-- Skill #3 -->
                  <div class="item">
                    <div>PHP</div>
                    <div class="rating">
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                    </div>
                  </div>
                  <!-- Skill #4 -->
                  <div class="item">
                    <div>HTML</div>
                    <div class="rating">
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                    </div>
                  </div>
                  <!-- Skill #5 -->
                  <div class="item">
                    <div>WordPress</div>
                    <div class="rating">
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                    </div>
                  </div>
                  <!-- Skill #6 -->
                  <div class="item">
                    <div>CSS</div>
                    <div class="rating">
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                    </div>
                  </div>
                  <!-- Skill #7 -->
                  <div class="item">
                    <div>Joomla</div>
                    <div class="rating">
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block block--active"></div>
                      <div class="block"></div>
                      <div class="block"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Certifications -->
              <div class="section__header section__header--certification">
                <div class="title">EDUCATION</div>
                <div class="divider">
                  <div class="divider__line"></div>
                </div>
              </div>
              <div class="section__certification">
                <!-- Certification #1 -->
                <div class="certification">
                  <div class="header">
                    <div class="title">Master Degree in Studies</div>
                    <div>2012</div>
                  </div>
                  <div class="header">
                    <div>Name of University</div>
                    <div>New York, New York</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
