
<div class="main">
  <div class="sidebar">
    <!-- Your Details Section -->
    <div class="input__section">
      <div class="section__header">Your Details</div>
      <label>Name</label>
      <input type="text" placeholder="Name" [value]="formName$ | async" (input)="onNameInput($event)"/>
      <label>Title</label>
      <input type="text" placeholder="Title" [value]="formTitle$ | async" (input)="onTitleInput($event)"/>
      <label>Summary</label>
      <textarea placeholder="Summary" [value]="formSummary$ | async" (input)="onSummaryInput($event)"></textarea>
    </div>
    <!-- Contact Details Section -->
    <div class="input__section">
      <div class="section__header">Contact Details</div>
      <label>Phone</label>
      <input type="text" placeholder="Phone" [value]="formPhone$ | async" (input)="onPhoneInput($event)"/>
      <label>Email</label>
      <input type="text" placeholder="Email" [value]="formEmail$ | async" (input)="onEmailInput($event)"/>
      <label>Location</label>
      <input type="text" placeholder="Location" [value]="formLocation$ | async" (input)="onLocationInput($event)"/>
    </div>
    <!-- Social Section -->
    <div class="input__section">
      <div class="section__header">Social</div>
      <div>
        <div class="section__content" *ngFor="let social of formSocials$ | async; let i = index; trackBy:handleSocialTrackBy">
          <ng-template [ngIf]="i > 0">
            <div class="section__content-remove" (click)="onSocialDelete(i)">
              <div class="section__content-remove-icon">&times;</div>
            </div>
          </ng-template>
          <label>Name</label>
          <input type="text" placeholder="Name" [value]="social.name" (input)="onSocialNameInput(i, $event)"/>
          <label>URL</label>
          <input type="text" placeholder="URL" [value]="social.url" (input)="onSocialUrlInput(i, $event)"/>
        </div>
        <button type="button" (click)="onSocialCreate()">+ Add Another</button>
      </div>
    </div>
    <!-- Experiences Section -->
    <div class="input__section">
      <div class="section__header">Experience</div>
      <div>
        <div class="section__content" *ngFor="let experience of formExperiences$ | async; let i = index; trackBy:handleSkillTrackBy">
          <ng-template [ngIf]="i > 0">
            <div class="section__content-remove" (click)="onExperienceDelete(i)">
              <div class="section__content-remove-icon">&times;</div>
            </div>
          </ng-template>
          <label>Title</label>
          <input type="text" placeholder="Title" [value]="experience.title" (input)="onExperienceTitleInput(i, $event)" />
          <label>Organization</label>
          <input type="text" placeholder="Organization" [value]="experience.organization" (input)="onExperienceOrganizationUpdate(i, $event)" />
          <label>Duration</label>
          <input type="text" placeholder="Duration" [value]="experience.duration" (input)="onExperienceDurationUpdate(i, $event)"/>
          <label>Location</label>
          <input type="text" placeholder="Location" [value]="experience.location" (input)="onExperienceLocationUpdate(i, $event)"/>
          <label>Description</label>
          <textarea placeholder="Description" [value]="experience.description" (input)="onExperienceDescriptionUpdate(i, $event)"></textarea>
          <label>Skills</label>
          <input type="text" placeholder="Skills" [value]="experience.skills" (input)="onExperienceSkillsUpdate(i, $event)"/>
        </div>
      </div>
      <button type="button" (click)="onExperienceCreate()">+ Add Experience</button>
    </div>
    <!-- Skills Section -->
    <div class="input__section">
      <div class="section__header">Skills</div>
      <div>
        <div class="section__content" *ngFor="let skill of formSkills$ | async; let i = index; trackBy:handleSkillTrackBy">
          <ng-template [ngIf]="i > 0">
            <div class="section__content-remove" (click)="onSkillDelete(i)">
              <div class="section__content-remove-icon">&times;</div>
            </div>
          </ng-template>
          <label>Name</label>
          <input type="text" placeholder="Name" [value]="skill.name" (input)="onSkillNameUpdate(i, $event)"/>
          <label>Proficiency</label>
          <input type="range" placeholder="Proficiency" minx="0" max="5" [value]="skill.proficiency" (input)="onSkillProficiencyUpdate(i, $event)"/>
        </div>
        <button type="button" (click)="onSkillCreate()">+ Add Skill</button>
      </div>
    </div>
    <!-- Certifications -->
    <div class="input__section">
      <div class="section__header">Certifications</div>
      <div>
        <div class="section__content" *ngFor="let certification of formCertifications$ | async; let i = index; trackBy:handleCertificationTrackBy">
          <ng-template [ngIf]="i > 0">
            <div class="section__content-remove">
              <div class="section__content-remove-icon">&times;</div>
            </div>
          </ng-template>
          <label>Title</label>
          <input type="text" placeholder="Title" />
          <label>Organization</label>
          <input type="text" placeholder="Organization" />
          <label>Year</label>
          <input type="text" placeholder="Year" />
          <label>Location</label>
          <input type="text" placeholder="Location" />
        </div>
        <button type="button" (click)="onCertificationCreate()">+ Add Certifiation</button>
      </div>
    </div>
  </div>
  <div class="content">
    <!-- Sheet -->
    <div class="sheet">
      <div class="sheet--full-height">
        <!-- Row -->
        <div class="row">
          <!-- Left Column -->
          <div class="column__left">
            <div style="height: auto">
              <!-- Name & Title Section -->
              <div class="section__name">
                <div class="name">{{name$ | async}}</div>
                <div class="title">{{title$ | async}}</div>
              </div>
              <!-- Summary Section -->
              <div class="section__header section__header--summary">
                <div class="title">SUMMARY</div>
                <div class="divider">
                  <div class="divider__container">
                    <div class="divider__line divider__line--white"></div>
                  </div>
                </div>
              </div>
              <div class="section__summary">
                <div class="summary">{{summary$ | async}}</div>
              </div>
              <!-- Contact Section -->
              <div class="section__header section__header--contact">
                <div class="title">CONTACT</div>
                <div class="divider">
                  <div class="divider__line divider__line--white"></div>
                </div>
              </div>
              <div class="section__contact">
                <ul class="list">
                  <li class="list__item">
                    <i class="fa-solid fa-phone list__item_icon"></i>
                    <span class="list__item_text">{{phone$ | async}}</span>
                  </li>
                  <li class="list__item">
                    <i class="fa-solid fa-envelope list__item_icon"></i>
                    <a class="list__item_text list__item_text--email" href="mailto:{{email$ | async}}">{{email$ | async}}</a>
                  </li>
                  <li class="list__item">
                    <i class="fa-solid fa-location-dot list__item_icon"></i>
                    <span class="list__item_text">{{location$ | async}}</span>
                  </li>
                </ul>
              </div>
              <!-- Social Section -->
              <div class="section__header section__header--social">
                <div class="title">SOCIAL</div>
                <div class="divider">
                  <div class="divider__line divider__line--white"></div>
                </div>
              </div>
              <div class="section__social">
                <ul class="list">
                  <!-- Socials -->
                  <li class="list__item" *ngFor="let social of socials$ | async">
                    <div>
                      <i class="{{social.icon}} social__icon"></i>
                      <span class="social__name">{{social.name}}</span>
                    </div>
                    <div>
                      <a class="social__link" href="{{social.url}}">{{social.url}}</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Right -->
          <div class="column__right">
            <div style="height: auto">
              <!-- Experiences -->
              <div class="section__header">
                <div class="title">WORK EXPERIENCE</div>
                <div class="divider">
                  <div class="divider__line"></div>
                </div>
              </div>
              <!-- Experiences -->
              <div class="section__experience" *ngFor="let experience of experiences$ | async;">
                <div class="header">
                  <div class="header__title">{{experience.title}}</div>
                  <div>{{experience.duration}}</div>
                </div>
                <div class="header">
                  <div>{{experience.organization}}</div>
                  <div>{{experience.location}}</div>
                </div>
                <ul class="description_list">
                  <!-- Descriptions -->
                  <li class="description_list__item" *ngFor="let description of experience.descriptions;">
                    <div class="description_list__item_icon">
                      <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="description_list__item_text">{{description}}</div>
                  </li>
                </ul>
                <div class="skill_list">
                  <!-- Skills -->
                  <div class="skill_list__item" *ngFor="let skill of experience.skills;">
                    <div class="skill_list__item_text">{{skill}}</div>
                  </div>
                </div>
              </div>
              <!-- Skills Section -->
              <div class="section__header section__header--skill">
                <div class="title">PROFESSIONAL SKILLS</div>
                <div class="divider">
                  <div class="divider__line"></div>
                </div>
              </div>
              <div class="section__skill">
                <div class="list">
                  <!-- Skills -->
                  <div class="item" *ngFor="let skill of skills$ | async;">
                    <ng-template [ngIf]="skill.name">
                      <div>{{skill.name}}</div>
                      <div class="rating">
                        <div class="block" [class.block--active]="skill.proficiency > 0"></div>
                        <div class="block" [class.block--active]="skill.proficiency > 1"></div>
                        <div class="block" [class.block--active]="skill.proficiency > 2"></div>
                        <div class="block" [class.block--active]="skill.proficiency > 3"></div>
                        <div class="block" [class.block--active]="skill.proficiency > 4"></div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <!-- Certifications -->
              <div class="section__header section__header--certification">
                <div class="title">EDUCATION</div>
                <div class="divider">
                  <div class="divider__line"></div>
                </div>
              </div>
              <div class="section__certification">
                <!-- Certification #1 -->
                <div class="certification">
                  <div class="header">
                    <div class="title">Master Degree in Studies</div>
                    <div>2012</div>
                  </div>
                  <div class="header">
                    <div>Name of University</div>
                    <div>New York, New York</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
