<div class="section__certification">
  <!-- Certifications -->
  <ng-container
    *ngFor="
      let certification of certifications$ | async;
      trackBy: handleCertificationTrackBy
    "
  >
    <div class="certification">
      <div class="header">
        <div class="title">{{ certification.title }}</div>
        <div>{{ certification.year }}</div>
      </div>
      <div class="header">
        <div>{{ certification.organization }}</div>
        <div>{{ certification.location }}</div>
      </div>
    </div>
  </ng-container>
</div>
