/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "@fontsource/roboto";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

:root {
  --white: rgb(255, 255, 255);
  --gray-300: rgb(209, 213, 219);
  --gray-700: rgb(55, 65, 81);

  --content-background: rgba(224, 224, 224, 1);
  --page-background-shadow: rgba(0, 0, 0, 0.3);
  --primary: rgb(17, 33, 47);
  --accent: rgb(43, 176, 225);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Roboto";
  color: var(--gray-700);
}

.sidebar {
  border-right: 1px solid black;
  width: 33.33%;
  height: 100%;
  overflow-y: scroll;
}

.pages__container {
  width: 100%;
}

/* Sidebar */

.input__section {
  display: block;
  padding: 1.75rem 1.5rem;
}

.input__section:not(:last-child) {
  border-bottom: 1px solid var(--gray-700);
}

.input__section input {
  margin-bottom: 0.5rem;
}

.input__section .section__header {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.input__section .section__content {
  padding-bottom: 0.5rem;

  &:not(:first-child) {
    padding-top: 0.5rem;
    border-top: 1px dashed var(--gray-700);
  }
}

.input__section .section__content-remove {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.input__section .section__content-remove-icon {
  padding: 0.2rem;
  cursor: pointer;
}

/* Input Section */

label {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

/* textarea & input */
textarea,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
input:not([type]) {
  -webkit-appearance: none; /* sass-lint:disable-line no-vendor-prefixes; */
  background-color: transparent;
  border: 1px solid var(--gray-700);
  border-radius: 0.2rem;
  box-shadow: none;
  box-sizing: inherit; /* Forced to replace inherit values of the normalize.css */
  height: 2rem;
  padding: 0.6rem 0.6rem 0.7rem !important; /* This vertically centers text on FF, ignored by Webkit */
  width: 100%;
}

textarea {
  height: 5rem;
  resize: vertical;
}

/* New Styles */
/* CONTENT STYLES */
.content {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* ARTBOARD STYLES */
.artboard {
  display: flex;
  width: 100%;
  overflow-y: scroll;
  font-family: "Roboto";
  color: var(--gray-700);
}

@media screen {
  .artboard {
    background: var(--content-background);
  }
}

/* PAGE STYLES */
.page {
  width: 210mm;
  height: 296mm;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  page-break-after: always;
}

@media screen {
  .page {
    background: var(--white);
    background-shadow: 0 0.5mm 2mm var(--page-background-shadow);
    margin: 5mm auto;
  }
}

.page__content {
  display: flex;
  height: 100%;
}

/* SECTION STYLES */
.section {
  display: flex;
  width: 100%;
}

.section--w-50 {
  width: 50%;
}

.section--w-auto {
  width: auto;
}

.section--column-left {
  flex: 1 1 auto;
  width: 33.7%;
  padding: 3.5rem 0 0 2rem;
  background-color: var(--primary);
  color: var(--white);
}

.section--column-right {
  flex: 1 1 auto;
  width: 65.3%;
  margin: 4rem 0 4rem 0;
  padding: 0 1.75rem 0 1.75rem;
}

/* SECTION CONTENT STYLES */
.section__content {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: inherit;
}

.section__content--column {
  flex-direction: column;
  height: fit-content;
}

.section__content--wrap {
  flex-wrap: wrap;
}

/* NAME SECTION STYLES */
.name {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

/* TITLE SECTION STYLES */
.title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
}

/* HEADER SECTION STYLES */
.header {
  display: flex;
  width: 100%;
}

.header--summary {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.header--contact {
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

.header--social {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.header--experience {
  margin-bottom: 0.25rem;
}

.header--skill {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.header--certification {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.header__title {
  flex: 1 1 auto;
  font-weight: 700;
  white-space: nowrap;
}

.header__divider {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  margin-left: 0.5rem;
}

.header-divider__container {
  display: flex;
  margin: auto 0;
}

.header-divider__line {
  width: 100%;
  height: 0px;
  margin: auto 0;
  border-bottom: 1px solid var(--gray-700);
}

.header-divider__line--white {
  border-bottom: 1px solid var(--white);
}

/* SUMMARY SECTION STYLES */
.summary {
  display: flex;
  margin-left: 1.5rem;
  padding-right: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

/* CONTACT SECTION STYLES */
.contact {
  margin: 0.75rem 0 0 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.contact__icon {
  margin-right: 0.5rem;
  color: var(--accent);
}

.contact__email {
  color: var(--white);
  text-decoration-line: none;
}

/* SOCIAL SECTION STYLES */
.social {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0 0 1.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
}

.social__icon {
  margin-right: 0.5rem;
  color: var(--accent);
}

.social__link {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--white);
}

/* EXPERIENCE SECTION STYLES */
.experience-position {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.25rem;
  font-size: 0.75rem;
}

.experience-position__title {
  font-weight: 700;
  color: var(--accent);
}

.experience-organization {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.725rem;
  font-size: 0.75rem;
}

.experience-description {
  display: flex;
  justify-content: center;
  margin: 0.125rem 0 0.3rem 0.5rem;
  font-size: 0.75rem;
}

.experience-description__icon {
  margin: 0.1rem 0.25rem 0 0;
  text-align: center;
  font-size: 0.5rem;
  color: var(--primary);
}

.experience-skill {
  margin: 0.5rem 0 0 0.375rem;
  border-radius: 0.375rem;
  padding: 0.125rem 0.375rem 0.125rem 0.375rem;
  background-color: var(--primary);
  font-size: 0.75rem;
  color: var(--white);
}

/* SKILL SECTION STYLES */
.skill {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  width: 100%;
  margin: 0 1rem 0.5rem 1rem;
  font-size: 0.75rem;
}

.skill__gauge {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  align-content: center;
  width: 6rem;
  margin-right: 2rem;
}

.gauge-block {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--gray-300);
}

.gauge-block--active {
  background-color: var(--accent);
}

/* CERTIFICATION SECTION STYLES */
.certification-degree {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.certification-degree__title {
  font-weight: 700;
  color: var(--accent);
}

.certification-organization {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
}
