<div class="section__header">Skills</div>
<div>
  <ng-container
    *ngFor="let skill of formSkills$ | async; trackBy: handleSkillTrackBy"
  >
    <div class="form-group">
      <div
        class="form-group-remove"
        (click)="onSkillDelete(skill.id)"
        (keyup.enter)="onSkillDelete(skill.id)"
        tabindex="0"
      >
        <div class="form-group-remove-icon">&times;</div>
      </div>
      <label for="skillName-{{ skill.id }}">Name</label>
      <input
        type="text"
        name="skillName-{{ skill.id }}"
        placeholder="Name"
        [value]="skill.name"
        (input)="onSkillNameInput(skill.id, $event)"
      />
      <label for="skillProficiency-{{ skill.id }}">Proficiency</label>
      <input
        type="range"
        name="skillProficiency-{{ skill.id }}"
        placeholder="Proficiency"
        minx="0"
        max="5"
        [value]="skill.proficiency"
        (input)="onSkillProficiencyInput(skill.id, $event)"
      />
    </div>
  </ng-container>
  <button type="button" (click)="onSkillCreate()">+ Add Skill</button>
</div>
